$header-height: 60px;
$footer-height: 40px;

html {
    position: relative;
    min-height: 100%;

    body {
        margin-bottom: $footer-height; // Height of sticky footer
    }
}

layout {
    header {
        background-color: $brand-primary-neutral-dark;

        .top-nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            height: $header-height;
            line-height: $header-height;

            padding-left: $site-padding-left;
            padding-right: $site-padding-right;

            div {
                h1 {
                    color: $brand-primary-neutral-light;
                    font-size: $font-size-large;
                    text-transform: uppercase;
                }
            }

            nav {
                ul {
                    list-style-type: none;
                    line-height: $header-height;
                }
            }
        }

        .lead-in {
            background-color: $brand-primary-neutral-light;
            color: $brand-primary-neutral-dark;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: $site-padding-left;
            padding-right: $site-padding-right;
            text-align: center;
        }

    }

    main {
        padding-right: $site-padding-right;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-left: $site-padding-left;
        padding-right: $site-padding-right;
        height: $footer-height;
        line-height: $footer-height;
        background-color: $brand-primary-neutral-dark;

        a, a:hover {
            color: $brand-primary-neutral-light;
        }
    }

}
