$header-height: 120px;
$footer-height: 40px;

html {
    position: relative;
    min-height: 100%;

    body {
        margin-bottom: $footer-height; // Height of sticky footer
    }
}

layout {
    header {
        background-color: $brand-primary-dark;

        .top-nav {
            display: flex;
            flex-direction: column;
            justify-content: center;

            height: $header-height;

            padding-left: $site-padding-left;
            padding-right: $site-padding-right;

            background-image: url('/img/monster-header.png');
            background-position: right bottom;
            background-repeat: no-repeat;

            div {
                h1 {
                    color: $brand-secondary-1;
                    font-size: $font-size-xx-large;
                    text-transform: uppercase;
                }
            }

            nav {
                ul {
                    list-style-type: none;
                }
            }
        }

        @media (max-width: $mobile-max-width) {
            .top-nav {
                background-position: left bottom;
            }
        }

        .lead-in {
            background-color: $brand-secondary-1-light;
            color: $brand-primary-dark;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: $site-padding-left;
            padding-right: $site-padding-right;
            text-align: center;
        }

    }

    main {
        padding-right: $site-padding-right;
    }

    @media (max-width: $mobile-max-width) {
        main {
            padding-left: $site-padding-left;
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: $footer-height;
        line-height: $footer-height;
        background-color: $brand-primary-dark;

        .footer-links {
            padding-left: $site-padding-left;
            padding-right: $site-padding-right;
        }

    }

}
