<header>
    <div class="top-nav">
        <div>
            <h1>{{$ctrl.siteMeta.title}}</h1>
        </div>
        <nav>
            <ul>
                <li ng-repeat="item in $ctrl.menuItems">
                    <a href="{{item.href}}">{{item.text}}</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="lead-in">
        <span>{{$ctrl.siteMeta.description}}</span>
    </div>
</header>
<main>
    <div ui-view></div>
</main>
<footer>
    <div class="footer-links">
        <a href="https://github.com/dylanspurgin/monster-browser">monster-browser</a>
    </div>
</footer>
