monster-list {
    display: flex;
    flex-direction: row;
    height: 100%;

    div.monster-nav {
        min-width: $monster-list-width;
        padding-top: $content-padding-top;

        ul {
            height: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;

            .monster-list-heading {
                text-transform: uppercase;
                text-align: center;
                font-size: $font-size-large;
                padding-bottom: 8px;
            }

            li {

                a {
                    display: block;
                    text-decoration: none;
                    padding: 10px 0 10px $site-padding-left;
                    background-color: $brand-secondary-neutral-light;
                    color: $brand-secondary-neutral-dark;
                    border-bottom: solid 1px $brand-secondary-neutral;
                }
                a:hover {
                    text-decoration: none;
                    color: $brand-secondary-neutral-dark;
                    background-color: $brand-secondary-neutral;
                }
                span {
                    display: none;
                }
            }

            li:last-of-type a {
                border-bottom: none;
            }

            li.active {

                a {
                    display: none;
                }
                span {
                    display: block;
                    padding: 10px 0 10px $site-padding-left;
                    font-weight: bold;
                    color: $brand-secondary-neutral-light;
                    background-color: $brand-secondary-neutral-dark;
                    border-bottom: solid 1px $brand-secondary-neutral-dark;
                }
            }

        }

    }


    div.monster-content {
        padding-top: $content-padding-top;
    }

    div.monster-content--empty-state {
        padding-top: $content-padding-top;
        text-align: center;
    }
}
