body,
html {
    color: $black !important;
    background-color: $white !important;

    font-size: $font-size-medium;
    font-family: $font-family-serif;
}

h1, h2, h3, h4, h5 {
    font-family: $font-family-sans-serif;
}

a, a:hover {
    color: $brand-secondary-neutral;
}
