/*
 * Colors
 */
$red: 	 hsl(355, 100%, 50%);
$orange: hsl(20, 100%, 50%);
$yellow: hsl(60, 100%, 50%);
$green:  hsl(120, 100%, 50%);
$cyan:   hsl(180, 100%, 50%);
$blue:   hsl(240, 100%, 50%);
$violet: hsl(300, 100%, 50%);

// Starting colors
$first-color: $green;
$second-color: complement($first-color);

// Primary shades
$brand-primary: harmonize($first-color, $second-color);
$brand-primary-neutral: neutral($brand-primary);
$brand-primary-neutral-light: lighten($brand-primary-neutral, 35%);
$brand-primary-neutral-dark: darken($brand-primary-neutral, 35%);

// Secondary shades
$brand-secondary: harmonize($second-color, $first-color);
$brand-secondary-neutral: neutral($brand-secondary);
$brand-secondary-neutral-light: lighten($brand-secondary-neutral, 35%);
$brand-secondary-neutral-dark: darken($brand-secondary-neutral, 35%);

// Black & white
$black: darken($brand-primary-neutral, 38%);
$white: lighten($brand-primary-neutral, 44%);



/*
 * Text
 */
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;



/*
 * Layout
 */
$container-padding-left: 40px;
$container-padding-right: 40px;

$content-padding-top: 20px;
