
// Mobile
@media (max-width: $mobile-max-width) {
    monster-detail {
        display: flex;
        flex-direction: column;

        .monster-details-card {
            order: 0;
        }

        .monster-details-image {
            order: 1;
            padding-top: $content-padding-top;
            padding-bottom: $content-padding-bottom;
        }

    }
}

// Tablet & Desktop
@media (min-width: $tablet-min-width) {
    monster-detail {
        display: flex;
        flex-direction: row;

        .monster-details-image {
            padding: 0 20px 20px 20px;
        }
    }
}

monster-detail {
    .monster-details-card {
        border: solid 2px $brand-primary-dark;

        .monster-details-card-header {
            background-color: $brand-primary-dark;
            font-family: $font-family-sans-serif;
            text-transform: uppercase;
            font-size: $font-size-large;
            color: $brand-secondary-1;
            padding: 20px 14px 10px;
        }

        dl {
            padding: 20px 14px 10px;
            dt {
                margin-bottom: 6px;
                font-size: $font-size-large;
                font-weight: bold;
            }
            @media (max-width: $mobile-max-width) {
                dt {
                    margin-bottom: 2px;
                    font-size: $font-size-medium;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
            dd {
                margin-bottom: 14px;
            }
        }


    }

    // From https://www.sitepoint.com/pure-css3-paper-curls/
    .paper {
        position: relative;
    	// width: 70%;
    	padding: 50px;
    	background-color: #fff;
    	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    }

    .paper:after,
    .paper:before {
        position: absolute;
        width: 40%;
        height: 10px;
        content: ' ';
        left: 12px;
        bottom: 12px;
        background: transparent;
        -webkit-transform: skew(-5deg) rotate(-5deg);
        -moz-transform: skew(-5deg) rotate(-5deg);
        -ms-transform: skew(-5deg) rotate(-5deg);
        -o-transform: skew(-5deg) rotate(-5deg);
        transform: skew(-5deg) rotate(-5deg);
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        z-index: -1;
    }

    .paper:after {
        left: auto;
        right: 12px;
        -webkit-transform: skew(5deg) rotate(5deg);
        -moz-transform: skew(5deg) rotate(5deg);
        -ms-transform: skew(5deg) rotate(5deg);
        -o-transform: skew(5deg) rotate(5deg);
        transform: skew(5deg) rotate(5deg);
    }

}
